<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imax.app">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>


    <application
        android:usesCleartextTraffic="true"
        android:name="com.imax.app.App"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.imax.app.ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/GreyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.imax.app.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
            android:name="com.imax.app.ui.activity.MenuPrincipalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparente" />
        <activity
            android:name="com.imax.app.ui.detallepedido.DetallePedidoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.imax.app.ui.activity.ConfiguracionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.activity.RegistroInspeccionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.activity.RegistrarCaractGeneralesActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.activity.RegistroCaracteristicasEdificacionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.activity.RegistroCaractInfraestruturaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.activity.RegistroDespuesInspeccionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.activity.RegistroDespuesInspeccionFirmaActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.imax.app.ui.fotosupervisor.RegistroSupervisorFotoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.fotosupervisor.CaptureActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.fotosupervisor.RegistroFotoEvidenciaActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.imax.app.ui.foto.RegistroFotoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.foto.RegistroFotoInsertActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.foto.RegistroFotoInsert2Activity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.foto.RegistroFotoInsert3Activity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.foto.RegistroFotoInsert4Activity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.foto.RegistroFotoInsert5Activity" android:screenOrientation="portrait"/>

        <activity android:name="com.imax.app.ui.supervisor.RegistroSupervisorInformacionGeneral" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.supervisor.RegistroListadoDocumentos" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.supervisor.RegistroResumenporNiveles" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.supervisor.EstimacionAvanceObra" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.supervisor.RegistroFotoEvidenciaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.supervisor.CaptureActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.supervisor.RegistroCalidad"
            android:screenOrientation="portrait"/>
        <activity android:name="com.imax.app.ui.supervisor.RegistroseguridadTrabajoySeñalizacion"
            android:screenOrientation="portrait"/>

        tools:ignore="Instantiatable" />

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>